In [10]:
import numpy as np
from sklearn import preprocessing, cross_validation, neighbors
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [11]:
df = pd.read_csv('epldata_final.csv')

In [12]:
df.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis_Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.1,264,3,Chile,0,4,1,1,0
1,Mesut_Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.6,167,2,Germany,0,4,1,1,0
2,Petr_Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.9,134,2,Czech_Republic,0,6,1,1,0
3,Theo_Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.5,122,1,England,0,4,1,1,0
4,Laurent_Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.7,121,2,France,0,4,1,1,0

In [13]:
df2 = df

In [14]:
df2.loc[(df2.market_value < 10), 'market_value'] = 1
df2.loc[(df2.market_value >= 10)&(df2.market_value < 20), 'market_value'] = 2
df2.loc[(df2.market_value >= 20)&(df2.market_value < 30), 'market_value'] = 3
df2.loc[(df2.market_value >= 30)&(df2.market_value < 40), 'market_value'] = 4
df2.loc[(df2.market_value >= 40)&(df2.market_value < 50), 'market_value'] = 5
df2.loc[(df2.market_value >= 50), 'market_value'] = 6

In [15]:
df2.drop(['name'], 1, inplace=True)
df2.drop(['club_id'], 1, inplace=True)

In [16]:
df3 =pd.get_dummies(df2, prefix=['club', 'position', 'nationality'], columns=['club', 'position', 'nationality'])

In [17]:
df3.head()

,age,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,new_foreign,age_cat,...,nationality_Spain,nationality_Sweden,nationality_Switzerland,nationality_The_Gambia,nationality_Trinidad_and_Tobago,nationality_Tunisia,nationality_United_States,nationality_Uruguay,nationality_Venezuela,nationality_Wales
0,28,1,6.0,4329,12.0,17.1,264,3,0,4,...,0,0,0,0,0,0,0,0,0,0
1,28,1,6.0,4395,9.5,5.6,167,2,0,4,...,0,0,0,0,0,0,0,0,0,0
2,35,4,1.0,1529,5.5,5.9,134,2,0,6,...,0,0,0,0,0,0,0,0,0,0
3,28,1,3.0,2393,7.5,1.5,122,1,0,4,...,0,0,0,0,0,0,0,0,0,0
4,31,3,3.0,912,6.0,0.7,121,2,0,4,...,0,0,0,0,0,0,0,0,0,0

In [18]:
list(df3)

['age',
 'position_cat',
 'market_value',
 'page_views',
 'fpl_value',
 'fpl_sel',
 'fpl_points',
 'region',
 'new_foreign',
 'age_cat',
 'big_club',
 'new_signing',
 'club_Arsenal',
 'club_Bournemouth',
 'club_Brighton+and+Hove',
 'club_Burnley',
 'club_Chelsea',
 'club_Crystal+Palace',
 'club_Everton',
 'club_Huddersfield',
 'club_Leicester+City',
 'club_Liverpool',
 'club_Manchester+City',
 'club_Manchester+United',
 'club_Newcastle+United',
 'club_Southampton',
 'club_Stoke+City',
 'club_Swansea',
 'club_Tottenham',
 'club_Watford',
 'club_West+Brom',
 'club_West+Ham',
 'position_AM',
 'position_CB',
 'position_CF',
 'position_CM',
 'position_DM',
 'position_GK',
 'position_LB',
 'position_LM',
 'position_LW',
 'position_RB',
 'position_RM',
 'position_RW',
 'position_SS',
 'nationality_Algeria',
 'nationality_Argentina',
 'nationality_Armenia',
 'nationality_Australia',
 'nationality_Austria',
 'nationality_Belgium',
 'nationality_Benin',
 'nationality_Bermuda',
 'nationality_Bosnia',
 'nationality_Brazil',
 'nationality_Cameroon',
 'nationality_Canada',
 'nationality_Chile',
 'nationality_Colombia',
 'nationality_Congo_DR',
 'nationality_Cote_dIvoire',
 'nationality_Croatia',
 'nationality_Curacao',
 'nationality_Czech_Republic',
 'nationality_Denmark',
 'nationality_Ecuador',
 'nationality_Egypt',
 'nationality_England',
 'nationality_Estonia',
 'nationality_Finland',
 'nationality_France',
 'nationality_Germany',
 'nationality_Ghana',
 'nationality_Greece',
 'nationality_Iceland',
 'nationality_Ireland',
 'nationality_Israel',
 'nationality_Italy',
 'nationality_Jamaica',
 'nationality_Japan',
 'nationality_Kenya',
 'nationality_Mali',
 'nationality_Morocco',
 'nationality_Netherlands',
 'nationality_New_Zealand',
 'nationality_Nigeria',
 'nationality_Northern_Ireland',
 'nationality_Norway',
 'nationality_Poland',
 'nationality_Portugal',
 'nationality_Romania',
 'nationality_Scotland',
 'nationality_Senegal',
 'nationality_Serbia',
 'nationality_Slovenia',
 'nationality_South_Korea',
 'nationality_Spain',
 'nationality_Sweden',
 'nationality_Switzerland',
 'nationality_The_Gambia',
 'nationality_Trinidad_and_Tobago',
 'nationality_Tunisia',
 'nationality_United_States',
 'nationality_Uruguay',
 'nationality_Venezuela',
 'nationality_Wales']

In [19]:
X = np.array(df3.drop(['market_value'], 1))
y = np.array(df3['market_value'])

In [20]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

In [21]:
clf = neighbors.KNeighborsClassifier()

In [22]:
clf.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [23]:
accuracy = clf.score(X_test, y_test)
print("Accuracy With 5 neighbors: ", accuracy)

Accuracy With 5 neighbors:  0.619565217391

In [24]:
clf2 = neighbors.KNeighborsClassifier(n_neighbors=3)
clf2.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [25]:
accuracy2 = clf2.score(X_test, y_test)
print("Accuracy with 3 neighbors: ", accuracy2)

Accuracy with 3 neighbors:  0.641304347826

In [26]:
tree = DecisionTreeClassifier(max_depth = 4, random_state=0)

In [27]:
tree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [28]:
accuracy3 = tree.score(X_test,y_test)
print("Decision Tree Accuracy: ", accuracy3)

Decision Tree Accuracy:  0.695652173913

In [29]:
forest = RandomForestClassifier(n_estimators=100, random_state=0)

In [30]:
forest.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [31]:
accuracy4 = forest.score(X_test,y_test)
print("Random Forest Accuracy: ", accuracy4)

Random Forest Accuracy:  0.695652173913

In [32]:
a = clf.predict(X_test);
prec_knn_5 = precision_score(y_test, a, average='weighted')  
recall_knn_5 = recall_score(y_test, a, average='weighted')  
f1_knn_5 = f1_score(y_test, a, average='weighted')

E:\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
E:\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [33]:
print("KNN Results with 5 neighbor:\n")
print("Precision: ", prec_knn_5, "\n")
print("Recall: ", recall_knn_5, "\n")
print("F1 Score: ", f1_knn_5, "\n")

KNN Results with 5 neighbor:

Precision:  0.629634495939

Recall:  0.619565217391

F1 Score:  0.616604604966

In [34]:
d = clf2.predict(X_test);
prec_knn_3 = precision_score(y_test, d, average='weighted')  
recall_knn_3 = recall_score(y_test, d, average='weighted')  
f1_knn_3 = f1_score(y_test, d, average='weighted')

E:\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
E:\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [35]:
print("KNN Results with 3 neighbor:\n")
print("Precision: ", prec_knn_3, "\n")
print("Recall: ", recall_knn_3, "\n")
print("F1 Score: ", f1_knn_3, "\n")

KNN Results with 3 neighbor:

Precision:  0.637272668014

Recall:  0.641304347826

F1 Score:  0.628856838732

In [36]:
b= forest.predict(X_test);
prec_randomForest = precision_score(y_test, b, average='weighted')
recall_randomForest = recall_score(y_test, b, average='weighted')
f1_randomForest = f1_score(y_test, b, average='weighted')

E:\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
E:\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [37]:
print("Random Forest Results:\n")
print("Precision: ", prec_randomForest, "\n")
print("Recall: ", recall_randomForest, "\n")
print("F1 Score: ", f1_randomForest, "\n")

Random Forest Results:

Precision:  0.639060308555

Recall:  0.695652173913

F1 Score:  0.662122832027

In [38]:
c = tree.predict(X_test)
prec_tree = precision_score(y_test, c, average='weighted')
recall_tree = recall_score(y_test, c, average='weighted')
f1_tree = f1_score(y_test, c, average='weighted')

E:\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
E:\Anaconda\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [39]:
print("Decision Tree Results:\n")
print("Precision: ", prec_tree, "\n")
print("Recall: ", recall_tree, "\n")
print("F1 Score: ", f1_tree, "\n")

Decision Tree Results:

Precision:  0.675160370634

Recall:  0.695652173913

F1 Score:  0.667975206612